__pycache__/

output/

# Distribution / packaging
dist/
build/
cmake-build-debug/
/build-debug/
install/
log/
*.egg
*.egg-info/

# PyCharm
**/.idea

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
